
  
      

        
   <div class="Exp-title-icon">
              <h2 class="Exp-title">Experience</h2>
              <i id="Exp-plus" class="fas fa-plus"></i>
          </div>
          <div class="Exp-sub-section">
              <img class="Exp-logo" src={{@image}}>
              <div class="Exp-sub-content">
                  <div class="Exp-title-location">
                      <div class="Exp-sub-title-icon">
                          <h3 class="Exp-sub-title">{{@position}}</h3>
                          <i id ="Exp-pen" class="fas fa-pen"></i>
                      </div>
                      <h4 class="Exp-company">{{@company}} <span>&#183;</span> {{@internship}}</h4>
                      <h4 class="Exp-date">{{@date}} <span>&#183;</span> 1 mo</h4>
                      <h4 class="Exp-location">{{@place}}</h4>
                  </div>
                  <p class="Exp-info">
                        {{@about}}
                  </p>
              </div>
          </div>



